
<h1><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> Welcome to my world <i class="fa fa-heart"></i> <i class="fa fa-heart"></i> </h1>

<div id="mybutton"></i><%= link_to 'My Notes', controller: 'articles' %>
</div> 


